<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="{{site.baseurl}}/css/reset.css" type="text/css" />
	<link rel="stylesheet" href="{{site.baseurl}}/css/styles.css" type="text/css" />
	<link rel="stylesheet" href="https://use.typekit.net/tya4nqf.css">
	<meta name="theme-color" content="rgb(194, 201, 189)">
	<title>Fieldwork</title>
</head>
<body>
<div id="container">
	<nav>
		<ul class="nav">
			<li><a href="index.html" class="{% if page.path contains 'index' %}current{% endif %}">Home</a></li>
			<li><a href="grad-show.html" class="{% if page.name contains 'grad' %}current{% endif %}">Grad Show</a></li>
			<li><a href="fieldwork.html" class="{% if page.name contains 'fieldwork' %}current{% endif %}">Fieldwork</a></li>
			<li><a href="employers.html" class="{% if page.name contains 'employers' %}current{% endif %}">Employers</a> </li>
		</ul>
	</nav>
	<header>
		<h1>
			<a href="index.html" class="nodecoration">Fieldwork & Professional Practice</a> 
		</h1>
	</header>
	<main>
	<h2>{{ page.title }}</h2>
	{{ content }}
	</main> 
	<aside>
		<h3>
			Resources
		</h3>
		{% include aside.html %} 
	</aside>
	<footer>
		{% include footer.html %} 
	</footer>
</div>
</body>
</html>
